<div class="contactus-container">
  <ng-map id="map" center="[29.820065,106.424587]">
    <marker id='{{shop.id}}' position="{{shop.position}}" ng-repeat="shop in shops" on-click="showDetail(shop)">
    </marker>
    <info-window id="foo-iw">
      <div class="info-windows">
        <p class="title">{{shop.id}}</p>
        <p class="address">{{shop.address}}</p>
        <p class="englipostnumsh_addr">{{shop.english_addr}}</p>
        <p class="postnum">邮编：{{shop.postnum}}</p>
        <p class="detail" ng-click="clicked()">在Google地图上查看</p>
      </div>
    </info-window>
  </ng-map>
  <div class="contact-way">
    <img src="../images/email.png" alt="通过email联系我们" onclick="window.open('mailto:andyliwr@outlook.com')" ／>
    <img src="../images/github.png" alt="在github上提issue" onclick="window.open('https://github.com/AndyliStudio/BehavioralGeneticsSQL/issues')"
      ／>
  </div>
  <div class="bolang"></div>
  <div class="submit-form">
    <div class="title">联系我们</div>
    <form class="row" name="form" ng-submit="submit()" novalidate>
      <div class="col-md-4 col-sm-12">
        <input type="text" name="name" ng-model="contactForm.name" placeholder="姓名" required />
        <p ng-class="(form.name.$error.required && form.$submitted) ? 'error-tips show' : 'error-tips hidden'">hello！请问如何称呼您？</p>
      </div>
      <div class="col-md-4 col-sm-12">
        <input type="email" name="email" ng-model="contactForm.email" placeholder="邮箱" required />
        <p ng-class="(form.email.$error.required && form.$submitted || (form.email.$invalid && form.email.$dirty)) ? 'error-tips show' : 'error-tips hidden'">只有填写正确邮箱，我们才能联系到您哦！</p>
      </div>
      <div class="col-md-4 col-sm-12">
        <input type="tel" name="tel" ng-model="contactForm.tel" placeholder="电话" 　/>
        <p ng-class="(form.tel.$invalid && form.$submitted) ? 'error-tips show' : 'error-tips hidden'">如果不介意留个联系电话吧！</p>
      </div>
      <div class="message">
        <textarea name="message" ng-model="contactForm.message" cols="30" rows="10" placeholder="请输入内容" required></textarea>
        <button ng-disabled="(form.name.$dirty && form.name.$error.required ||
  form.email.$dirty && form.email.$invalid || form.message.$dirty && form.message.$error.required) ? 'disabled' : ''"><span class="text">提交</span><span ng-show="isDoSubmit" class="icon-loading"></span></button>
      </div>
    </form>
  </div>
  <!-- alert -->
  <script type="text/ng-template" id="alert.html">
    <div ng-transclude></div>
  </script>
  <div uib-alert ng-show="alert.isShow" template-url="alert.html" dismiss-on-timeout="3000" closeable="true" ng-class="{'alert-warning': alert.type === 'warning', 'alert-success': alert.type === 'success', 'alert-enter': alert.animate === 'enter', 'alert-out': alert.animate === 'out'}">{{alert.message}}
    <span class="close-alert" ng-click="closeAlert()">x</span>
  </div>
</div>