<div class="contactus-container">
  <ng-map id="map" center="[29.820065,106.424587]">
    <marker id='{{shop.id}}' position="{{shop.position}}" ng-repeat="shop in shops" on-click="showDetail(shop)">
    </marker>
    <info-window id="foo-iw">
      <div ng-non-bindable="">
        id: {{shop.id}}<br/> name: {{shop.name}}<br/> Position 1: {{shop.position}}<br/> Position 2: {{anchor.getPosition()}}<br/>        Position 3: {{map.markers[shop.id].getPosition()}}<br/>
        <a href="#" ng-click="clicked()">Click Here</a>
      </div>
    </info-window>
  </ng-map>
</div>
