<!--======== intro =========-->
<section class="intro">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12 text-center">
            <div class="intro-content">
                <h1>人类行为遗传基因数据库</h1>
                <p>对行为与遗传的关系的研究。动物物种的特异行为模式，如蜜蜂传达食源信息的舞蹈、蜘蛛的结网、燕子的造巢和海狸的筑坝，在个体中的实现都被认为是由遗传因素决定的，个体学习的成分极少，常被称为本能行为。人的行为和性格特点，以及智力的高低是否也有遗传原因，科学家早已注意到了这个问题。特别是当人们了解到基因的物质结构时，从事这种研究的理论基础就更加完备，形成了遗传学研究的一个新的分支──行为遗传学。</p>
                <a class="btn btn-default" href="http://baike.baidu.com/link?url=xv0GIA3Vl7IV93su9r02-HgX-GBGn_JCZibhFS-WGy5GGu-kcUr2EqNsNEZSnqv0xIySnMPhj84txW-Zg8jRi5dXmHKY4VwZ07BI7owLkN8ONTbiyKmkGqaaO48elTZ7uP0IK1g2KANRyJX2E-Jc6hjk7cl9kcV87LLI7wFrWncjZMkjzq8lG3VylfyNoSo1"
                    target="_blank" role="button">了解更多 <i class="lnr lnr-chevron-right"></i></a></i>
                </a>
                <a class="btn btn-primary" href="#service" role="button">开始使用 <i class="lnr lnr-chevron-right"></i></a></i>
                </a>
                <div><i class="fa fa-caret-down"></i></div>
            </div>
        </div>
    </div>
</section>
<!--======== end intro =========-->

<!--======== our sponsors =========-->
<!--<section class="our-sponsors">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="sponsors">
                        <div class="single-slide text-center"><img src="images/converse.png" alt="#"/></div>
                        <div class="single-slide text-center"><img src="images/google.png" alt="#"/></div>
                        <div class="single-slide text-center"><img src="images/instagram.png" alt="#"/></div>
                        <div class="single-slide text-center"><img src="images/microsoft.png" alt="#"/></div>
                        <div class="single-slide text-center"><img src="images/converse.png" alt="#"/></div>
                        <div class="single-slide text-center"><img src="images/google.png" alt="#"/></div>
                        <div class="single-slide text-center"><img src="images/instagram.png" alt="#"/></div>
                        <div class="single-slide text-center"><img src="images/microsoft.png" alt="#"/></div>
                        <div class="single-slide text-center"><img src="images/converse.png" alt="#"/></div>
                        <div class="single-slide text-center"><img src="images/google.png" alt="#"/></div>
                        <div class="single-slide text-center"><img src="images/instagram.png" alt="#"/></div>
                        <div class="single-slide text-center"><img src="images/microsoft.png" alt="#"/></div>
                    </div>
                </div>
            </div>
        </div>
    </section>-->
<!--======== end recent evnt =========-->

<!--======== Our Services =========-->
<section id="service" class="what-we-do">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <h2 class="section-title">Our Services</h2>
                <div class="border"><span class="border-l-r"><i class="fa fa-caret-down"></i></span></div>
                <!--<p class="section-para">Lorem ipsum dolor sit amet, consectetuer adiping elit agrel. Donec odio.-->
                <!--Quisque volutpat mattis eros. Nullam malesuada urna nibh viverra non.</p>-->
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2 col-md-offset-1 col-sm-6 col-xs-12">
                        <div class="do-box" ui-sref="phenotype">
                            <i class="lnr lnr-inbox"></i>
                            <h3>Phenotype</h3>
                            <p>查找指定phenotype相关的所有显著SNP（表）</p>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="do-box" ui-sref="gene_region">
                            <i class="lnr lnr-cog"></i>
                            <h3>Gene/Region</h3>
                            <p>查找指定基因或区间内的所有显著SNP，并按照显著度排序</p>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="do-box" ui-sref="marker">
                            <i class="lnr lnr-leaf"></i>
                            <h3>Marker</h3>
                            <p>查找指定marker的summa- ry信息（表）</p>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="do-box" ui-sref="pathway">
                            <i class="lnr lnr-leaf"></i>
                            <h3>Pathway</h3>
                            <p>查找指定pathway的所有显著SNP并按照显著度排序</p>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="do-box" ui-sref="browser">
                            <i class="lnr lnr-leaf"></i>
                            <h3>Browser</h3>
                            <p>显示所有染色体的图形</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--======== end Our Services =========-->

<!--======== about us =========-->
<!--<section id="about-us" class="about-us">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-xs-12 p-l-r-0">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/znFbGpaJf1o"></iframe>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="about-content">
                        <h2 class="section-title">About Us Lorem ipsum dolor sit amet reprehenderit, enim eiusmod high</h2>
                        <p>Lorem ipsum dolor sit amet reprehenderit, enim eiusmod high life
                        accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard
                        dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Haccusamus terry richardson ad squid. pwolf moon
                        officia aute, non cupidatat skateboard.</p>
                        <p>Lorem ipsum dolor sit amet reprehenderit, enim eiusmod high life
                        accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard
                        dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Haccusamus terry richardson ad squid. pwolf moon
                        officia aute, non cupidatat skateboard.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>-->
<!--======== end about us =========-->

<!--======== Our Work =========-->
<!--<section id="work" class="our-service work">
        <div class="ccontainer">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h2 class="section-title">Our Work</h2>
                    <div class="border"><span class="border-l-r"><i class="fa fa-caret-down"></i></span></div>
                    <p class="section-para">Lorem ipsum dolor sit amet, consectetuer adiping elit agrel. Donec odio.
                    Quisque volutpat mattis eros. Nullam malesuada urna nibh viverra non.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-3 p-l-r-0">
                        <div class="single-work"><img src="images/screen4.jpg" alt="">
                            <div class="service-overflow">
                                <ul class="list-inline work-links">
                                    <li><i class="fa fa-facebook"></i></li>
                                    <li><i class="fa fa-Twitter"></i></li>
                                    <li><i class="fa fa-google-plus"></i></li>
                                    <li><i class="fa fa-dribbble"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 p-l-r-0">
                        <div class="single-work"><img src="images/screen5.jpg" alt="">
                            <div class="service-overflow">
                                <ul class="list-inline work-links">
                                    <li><i class="fa fa-facebook"></i></li>
                                    <li><i class="fa fa-Twitter"></i></li>
                                    <li><i class="fa fa-google-plus"></i></li>
                                    <li><i class="fa fa-dribbble"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 p-l-r-0">
                        <div class="single-work"><img src="images/screen6.jpg" alt="">
                            <div class="service-overflow">
                                <ul class="list-inline work-links">
                                    <li><i class="fa fa-facebook"></i></li>
                                    <li><i class="fa fa-Twitter"></i></li>
                                    <li><i class="fa fa-google-plus"></i></li>
                                    <li><i class="fa fa-dribbble"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 p-l-r-0">
                        <div class="single-work"><img src="images/screen8.jpg" alt="">
                            <div class="service-overflow">
                                <ul class="list-inline work-links">
                                    <li><i class="fa fa-facebook"></i></li>
                                    <li><i class="fa fa-Twitter"></i></li>
                                    <li><i class="fa fa-google-plus"></i></li>
                                    <li><i class="fa fa-dribbble"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>-->
<!--======== end Our Work =========-->

<!--======== our Genius =========-->
<!--<section id="genius" class="our-experts">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-6 col-xs-12">
                    <h2 class="section-title">Our Genius</h2>
                    <p>Lorem ipsum dolor sit amet reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.</p>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="expert-box">
                                <img src="images/team-1.png" alt="">
                                <div class="expert-overflow">
                                    <ul class="list-inline text-center">
                                        <li><i class="fa fa-facebook"></i></li>
                                        <li><i class="fa fa-twitter"></i></li>
                                        <li><i class="fa fa-google-plus"></i></li>
                                    </ul>
                                </div>
                                <div class="text-center">
                                    <h3 class="expert-name">Peter Bruke</h3>
                                    <strong class="expert-tag">Founder / CEO</strong>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="expert-box">
                                <img src="images/team-2.png" alt="">
                                <div class="expert-overflow">
                                    <ul class="list-inline text-center">
                                        <li><i class="fa fa-facebook"></i></li>
                                        <li><i class="fa fa-twitter"></i></li>
                                        <li><i class="fa fa-google-plus"></i></li>
                                    </ul>
                                </div>
                                <div class="text-center">
                                    <h3 class="expert-name">Jack alfred </h3>
                                    <strong class="expert-tag">Co - founder</strong>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="expert-box">
                                <img src="images/team-3.png" alt="">
                                <div class="expert-overflow">
                                    <ul class="list-inline text-center">
                                        <li><i class="fa fa-facebook"></i></li>
                                        <li><i class="fa fa-twitter"></i></li>
                                        <li><i class="fa fa-google-plus"></i></li>
                                    </ul>
                                </div>
                                <div class="text-center">
                                    <h3 class="expert-name">Neal Potter</h3>
                                    <strong class="expert-tag">Co - founder</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>-->
<!--======== end our Genius =========-->

<!--======== contact =========-->
<!--<section id="contact" class="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
                    <h2 class="section-title">Contact Message</h2>
                    <div class="border"><span class="border-l-r"><i class="fa fa-caret-down"></i></span></div>
                    <ul class="list-inline social-links text-center">
                        <li><i class="fa fa-facebook"></i></li>
                        <li><i class="fa fa-Twitter"></i></li>
                        <li><i class="fa fa-google-plus"></i></li>
                        <li><i class="fa fa-dribbble"></i></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="sr-only" for="exampleInputEmail3">Your Name</label>
                                <input type="text" class="form-control" id="exampleInputEmail3" placeholder="Your Name">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="sr-only" for="exampleInputEmail3">Your Email</label>
                                <input type="Email" class="form-control" id="exampleInputEmail3" placeholder="Your Email">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="sr-only" for="exampleInputEmail3">Phone</label>
                                <input type="tel" class="form-control" id="exampleInputEmail3" placeholder="Phone">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="sr-only" for="exampleInputEmail3">Massage</label>
                                <textarea class="form-control textarea" rows="5" placeholder="Massage"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-default ">Send Massage</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>-->