<div class="pathway-container">
  <h1>查询pathway对应的所有显著的snp_info</h1>
  <div class="searchDiv">
    <div class="input"><input type="search" placeholder="输入你想要查询的pathway" name="search" ng-model="sstr" ng-change="searchPathway()" />
      <button ng-click="showPathway(suggests[0].id, suggests[0].text)">搜索</button>
    </div>
    <div class="search-suggest" ng-show="suggests.length > 0 && isShowSuggest">
      <ul>
        <li ng-repeat="item in suggests" data-id="item.id" ng-click="showPathway(item.id, item.genes)">{{item.text}}</li>
      </ul>
    </div>
  </div>
  <div class="result" ng-show="thisPathway.marker">
    <p>查询得到的信息如下：</p>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td>marker</td>
          <td>{{thisPathway.marker}}</td>
          <td>id</td>
          <td>{{thisPathway.id}}</td>
        </tr>
        <tr>
          <td>trait</td>
          <td>{{thisPathway.trait}}</td>
          <td>chr</td>
          <td>{{thisPathway.chr}}</td>
        </tr>
        <tr>
          <td>pos</td>
          <td>{{thisPathway.pos}}</td>
          <td>df</td>
          <td>{{thisPathway.df}}</td>
        </tr>
        <tr>
          <td>F</td>
          <td>{{thisPathway.F}}</td>
          <td>p</td>
          <td>{{thisPathway.p}}</td>
        </tr>
        <tr>
          <td>add_effect</td>
          <td>{{thisPathway.add_effect}}</td>
          <td>dom_f</td>
          <td>{{thisPathway.dom_f}}</td>
        </tr>
        <tr>
          <td>dom_p</td>
          <td>{{thisPathway.dom_p}}</td>
          <td>errordf</td>
          <td>{{thisPathway.errordf}}</td>
        </tr>
        <tr>
          <td>markerR2</td>
          <td>{{thisPathway.markerR2}}</td>
          <td>genetic_var</td>
          <td>{{thisPathway.genetic_var}}</td>
        </tr>
      </tbody>
    </table>
    <p class="param-des">
      参数注释如下：&nbsp;marker: 基因标识，这是一段很长很长的描述，这是一段很长很长的描述，这是一段很长很长的描述，这是一段很长很长的描述，这是一段很长很长的描述，这是一段很长很长的描述
    </p>
  </div>
</div>