<div class="phenotype-container">
    <h1>查找指定phenotype相关的所有显著SNP</h1>
    <div class="searchDiv">
        <div class="input">
            <!-- <select ng-init="selectedName = pValueArr[0]" ng-model="pValue" ng-options="x for x in pValueArr"></select> -->
            <span>阀值p</span>
            <input type="text" placeholder="输入阀值" name="p-value" ng-model="pValue" />
            <div>
                <input type="search" placeholder="输入你想要查询的trait" name="search" ng-model="sstr" ng-change="searchTrait()" />
                <div class="search-suggest" ng-show="suggests.length > 0 && isShowSuggest">
                    <ul>
                        <li ng-repeat="(index, item) in suggests" data-id="index" ng-click="showTrait(item)">{{item}}</li>
                    </ul>
                </div>
            </div>
            <button ng-click="searchTrait(suggests[0])">搜索</button>
        </div>
    </div>
    <div class="result" ng-show="isShowTable">
        <p>查询得到的信息如下：</p>
        <table class="table">
            <thead>
                <tr>
                    <th class="line-height"><input type="checkbox" ng-model="isSelectAll" ng-change="selectAll()" /></th>
                    <th>trait</th>
                    <th>marker</th>
                    <th>p</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(index, item) in showingSnps track by $index">
                    <td class="line-height"><input type="checkbox" ng-model="item.isChecked" ng-selected="item.isChecked || isSelectAll" ng-change="itemSelected(item.isChecked, item.id)"
                        /></td>
                    <td>{{ item.trait }}</td>
                    <td>{{ item.marker }}</td>
                    <td>{{ item.p }}</td>
                </tr>
            </tbody>
        </table>
        <div class="text-right">
            <ul uib-pagination total-items="totalItems" first-text="首页" last-text="最后一页" previous-text="上一页" next-text="下一页" ng-model="currentPage"
            max-size="9" class="pagination-sm" boundary-link-numbers="true" rotate="false" ng-change="pageChanged()"></ul>
        </div>
        <p class="download" ng-click="download()"><img src="../images/download.png" alt="">下载选中数据</p>
        <p class="param-des">
            参数注释如下：&nbsp;marker: 基因标识，这是一段很长很长的描述，这是一段很长很长的描述，这是一段很长很长的描述，这是一段很长很长的描述，这是一段很长很长的描述，这是一段很长很长的描述
        </p>
    </div>
</div>