<div class="team-container">
  <h1>我们的团队</h1>
  <p class="team-des">
    我们是一个年轻有追求的团队，努力将每一个产品做好，致力于给用户提供新意，高质量的服务。<br>目前团队产品有<a href="https://github.com/Andyliwr/graduationDesign">微信小程序--微书</a>、
    <a href="https://github.com/Andyliwr/graduationDesign/tree/develop/reptile">小说爬虫</a>、<a href="https://github.com/AndyliStudio/BehavioralGeneticsSQL">遗传基因数据库</a>，
    <a href="https://github.com/Andyliwr/MeetFriend">交友app-meedfriend</a>，<a>在线mock平台</a>等等。
  </p>
  <div class="persons">
    <div class="person">
      <div class="avatar" style="background-image: url(../images/me.png);transform: rotate(-32deg);"></div>
      <div class="info">
        <div class="name">姓名:&nbsp;李迪康<br/>英文名:&nbsp;andyliwr<br/>职业:&nbsp;前端工程师<br/>简介:&nbsp;2013年毕业于西南大学，现就职于同花顺。</div>
        <div class="job"></div>
        <div class="contact">
          <i class="fa fa-github" aria-hidden="true" onclick="window.open('https://github.com/Andyliwr')"></i>
          <i class="fa fa-weibo" aria-hidden="true" onclick="window.open('http://weibo.com/p/1005053777760803')"></i>
          <i class="fa fa-rss" aria-hidden="true" onclick="window.open('https://andyliwr.github.io')"></i>
        </div>
      </div>
    </div>
    <div class="person">
      <div class="avatar" style="background-image: url(../images/zhoulu.png);"></div>
      <div class="info">
        <div class="name">姓名:&nbsp;周露<br/>英文名:&nbsp;zhoulu<br/>职业:&nbsp;产品<br/>简介:&nbsp;2013年毕业于西南大学</div>
        <div class="job"></div>
        <div class="contact">
          <i class="fa fa-qq" aria-hidden="true" onclick="window.open('https://user.qzone.qq.com/1206521694')"></i>
        </div>
      </div>
    </div>
    <div class="person">
      <div class="avatar" style="background-image: url(../images/longxuanying.jpg);"></div>
      <div class="info">
        <div class="name">姓名:&nbsp;龙煊英<br/>英文名:&nbsp;longxuanying<br/>职业:&nbsp;网络管理员<br/>简介:&nbsp;2013年毕业于西南大学</div>
        <div class="job"></div>
        <div class="contact">
          <i class="fa fa-qq" aria-hidden="true" onclick="window.open('https://user.qzone.qq.com/1358788249')"></i>
        </div>
      </div>
    </div>
  </div>
  <h1>我们的荣誉</h1>
  <div class="award">
    <img src="images/award01.jpg" width="600px" alt="">
  </div>
</div>